body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  color: $text-base;
  min-width: 320px;
}

.row {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

h2 {
  margin: 0;
}

.container {
  min-width: 320px;
  max-width: 460px;
}

button {
  outline: none;
  cursor: pointer;
}

.brown-text {
  color: $brown-base;
  text-decoration: underline;
}

@mixin base_text() {
  margin: $margin-center;
  text-align: center;
  font-size: $font-size-base;
  line-height: ($line-height-base + 2);
  font-weight: $font-normal;
  text-transform: uppercase;
  color: $text-base;
}

@mixin base_title() {
  text-align: center;
  font-family: $font-family-base;
  font-size: $font-size-large;
  line-height: ($line-height-base + 2);
  font-weight: $font-bold;
  text-transform: uppercase;
  color: #000;
}

@mixin base_input() {
  margin: $margin-center;
  border: 0;
  width: 100%;
  display: block;
  background-color: $input-bg-base;
  font-weight: $font-bold;
  font-size: $font-size-large;
  padding: 20px;
  line-height: ($line-height-base + 2);
  outline: 0;
  box-sizing: border-box;
}

@mixin base_tags() {
  font-style: $font-italic;
  font-size: $font-size-base;
  line-height: $line-height-small;
  color: $gray-999;
  text-transform: uppercase;
}