.blog-page {
  padding: $padding-default;

  @media (min-width: $screen-sm-min) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__title {
    @include base_title;
    font-size: $font-size-largest;

    @media (min-width: $screen-sm-min) {
      width: 100%;
    }
  }

  &__text {
    @include base_text;
    padding-bottom: 20px;
    border-bottom: 2px solid $gray-db;

    @media (min-width: $screen-sm-min) {
      width: 100%;
      border-bottom: none;
    }
  }
}

.blog-item {
  padding-bottom: 20px;
  border-bottom: 2px solid $gray-db;

  @media (min-width: $screen-sm-min) {
    width: 45%;

    &:nth-of-type(1), &:nth-of-type(2) {
      border-top: 2px solid $gray-db;
    }
  }

  @media (min-width: $screen-lg-min) {
    width: 27%;

    &:nth-of-type(3) {
      border-top: 2px solid $gray-db;
    }
  }

  &__title {
    @include base-title;
    font-size: ($font-size-larger + 3);
  }

  &__text {
    @include base_text;
    padding-bottom: 20px;
  }
}

.tags {
  display: flex;

  &--post {
    @media (min-width: $screen-sm-min) {
      width: ((256% / 768) * 100);
      margin: 0 auto;
    }
  }

  &__date {
    @include base_tags;
    margin-right: 10.714%;

    &:before {
      content: '';
      width: 11px;
      height: 11px;
      display: inline-block;
      vertical-align: baseline;
      margin-right: 5px;
      background: url('../img/tag-date.png') no-repeat;
    }
  }

  &__type {
    @include base_tags;

    &:before {
      content: '';
      width: 11px;
      height: 11px;
      display: inline-block;
      vertical-align: baseline;
      margin-right: 5px;
      background: url('../img/tag-type.png') no-repeat;
    }
  }
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: space-between;
  padding-bottom: 45px;
  padding-top: 45px;
  margin: 0;
  border-bottom: 2px solid $gray-db;

  @media (min-width: $screen-sm-min) {
    width: ((500% / 680) * 100);
    border-bottom: none;
  }

  @media (min-width: $screen-lg-min) {
    width: ((700% / 1050) * 100);
  }

  &__title {
    display: none;

    @media (min-width: $screen-sm-min) {
      display: inline-block;
      font-size: $font-size-larger;
      line-height: ($line-height-base + 2);
      font-weight: $font-bold;
      color: #000;
      margin-right: ((65% / 680) * 100);
      text-transform: uppercase;
      padding-top: 18px;
    }

    @media (min-width: $screen-lg-min) {
      margin-left: ((80% / 700) * 100);
      margin-right: ((180% / 700) * 100);
    }
  }

  &__item {
    list-style: none;
  }

  &__link {
    display: block;
    background: $blue-base;
    color: #fff;
    font-size: $font-size-larger;
    line-height: ($line-height-base + 2);
    text-decoration: none;
    width: 58px;
    height: 58px;
    text-align: center;
    vertical-align: center;
    padding-top: 20px;
    box-sizing: border-box;
    margin-bottom: 16px;
  }
}
