.blog-page {
  padding: $padding-default;

  &__title {
    @include base_title;
    font-size: $font-size-largest;

    @media (min-width: $screen-sm-min) {
      width: 100%;
    }
  }

  &__text {
    @include base_text;
    padding-bottom: 20px;
    border-bottom: 2px solid $gray-db;

    @media (min-width: $screen-sm-min) {
      width: 100%;
      border-bottom: none;
    }
  }
}

.blog-item {
  padding-bottom: 20px;
  border-bottom: 2px solid $gray-db;
  position: relative;

  @media (min-width: $screen-sm-min) {
    width: 45%;

    &:after {
      content: '';
      width: 2px;
      border-bottom: 2px solid #dbdbdb;
      border-top: 2px solid #dbdbdb;
      height: 100%;
      position: absolute;
      right: -11.5%;
      top: 0;
      background-color: #dbdbdb;
    }

    &:nth-of-type(1), &:nth-of-type(2) {
      border-top: 2px solid $gray-db;
    }

    &:nth-of-type(2n) {
      &:after {
        content: none;
      }
    }
  }

  @media (min-width: $screen-lg-min) {
    width: 27%;

    &:after {
      right: -19%;
    }

    &:nth-of-type(3n) {
      border-top: 2px solid $gray-db;

      &:after {
        content: none;
      }
    }

    &:nth-of-type(2n) {
      &:after {
        content: '';
      }
    }

    &:last-of-type {
      border-top: none;

      &:after {
        content: none;
      }
    }
  }

  &__title {
    @include base-title;
    font-size: ($font-size-larger + 3);
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
  }

  &__text {
    @include base_text;
    padding-bottom: 20px;
  }
}

.tags {
  display: flex;

  &--post {
    justify-content: center;
    position: relative;

    @media (min-width: $screen-sm-min) {
      width: 100%;
      margin: 0 auto;

      &:before, &:after {
        content: '';
        width: 17.5%;
        height: 1px;
        background-color: #dbdbdb;
        position: absolute;
        top: 40%;
      }

      &:before {
        left: 0;
      }

      &:after {
        right: 0;
      }
    }
  }

  &__date {
    @include base_tags;
    margin-right: 10.714%;
  }

  &__type {
    @include base_tags;
  }
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: space-between;
  padding-bottom: 45px;
  padding-top: 45px;
  margin: 0;
  border-bottom: 2px solid $gray-db;

  @media (min-width: $screen-sm-min) {
    width: 500px;
    border-bottom: none;
  }

  @media (min-width: $screen-lg-min) {
    width: 700px;
  }

  &__title {
    display: none;

    @media (min-width: $screen-sm-min) {
      display: inline-block;
      font-size: $font-size-larger;
      line-height: ($line-height-base + 2);
      font-weight: $font-bold;
      color: #000;
      margin-right: ((65% / 680) * 100);
      text-transform: uppercase;
      padding-top: 18px;
    }

    @media (min-width: $screen-lg-min) {
      margin-left: ((80% / 700) * 100);
      margin-right: ((180% / 700) * 100);
    }
  }

  &__item {
    list-style: none;
  }

  &__link {
    display: block;
    background: $blue-base;
    color: #fff;
    font-size: $font-size-larger;
    line-height: ($line-height-base + 2);
    text-decoration: none;
    width: 58px;
    height: 58px;
    text-align: center;
    vertical-align: center;
    padding-top: 20px;
    box-sizing: border-box;
    margin-bottom: 16px;
    font-weight: $font-bold;

    &:hover {
      background-color: $blue-darker;
    }

    &:active {
      background-color: $blue-darkest;
      color: rgba(255, 255, 255, 0.3);
    }


    &--active {
      background-color: $gray-sm-ligher;
      color: #000;

      &:hover, &:active, &:focus {
        background-color: $gray-sm-ligher;
        color: #000;
      }
    }
  }
}
