.find-row {
  text-align: center;
  margin-bottom: 50px;

  @media (min-width: $screen-lg-min) {
    padding-left: ((380% / 1200) * 100);
    padding-right: ((380% / 1200) * 100);
  }  

  &__title {
    @include base_title;
    padding: $padding-default;
    padding-top: 25px;

    @media (min-width: $screen-lg-min) {
      font-size: $font-size-largest;
      padding-top: 50px;
      padding-bottom: 25px;
    }
  }

  &__text {
    @include base_text;
    padding-bottom: 35px;
  }

  &__button {
    display: inline-block;
    padding: 15px 12.5%;
    text-transform: uppercase;
    color: $link-base;
    background-color: $blue-base;
    font-size: $font-size-larger;
    line-height: ($line-height-base + 2);
    font-weight: $font-bold;
    text-decoration: none;

    @media (min-width: $screen-sm-min) {
      padding: 15px 20.2%;
    }
  }
}
