.form-page {
  &__title {
    text-align: center;
    font-family: $font-family-base;
    font-size: $font-size-large;
    line-height: ($line-height-base + 2);
    font-weight: $font-bold;
    text-transform: uppercase;
    color: #000;
    padding: $padding-default;
    padding-bottom: 35px;

    @media (min-width: $screen-sm-min) {
      font-size: $font-size-largest;
    }
  }

  &__text {
    @include base_text;
    padding: $padding-default;
    padding-top: 0;

    @media (min-width: $screen-sm-min) {
      padding: 20px 21%;
    }
  }
}

.form-review {
  text-align: center;
  margin-bottom: 110px;

  &__field {
    @media (min-width: $screen-sm-min) {
      width: ((176% / 650) * 100);
    }

    &--full-width {
      @media (min-width: $screen-sm-min) {
        width: 100%;
      }
    }

    &--info-column {
      @media (min-width: $screen-sm-min) {
        width: ((190% / 583) * 100);
      }
    }
  }

  &__input-group {
    padding: $padding-default;
    border-bottom: 1px solid $gray-sm-ligher;
    text-align: left;

    @media (min-width: $screen-sm-min) {
      padding: 20px ( ( 59% / 768 ) * 100);
      border: none;
    }
  }

  &__button {
    display: inline-block;
    padding: 15px ((54% / 320) * 100);
    text-transform: uppercase;
    color: $link-base;
    background-color: $blue-base;
    font-size: $font-size-larger;
    line-height: ($line-height-base + 2);
    font-weight: $font-bold;
    text-decoration: none;
    border: none;

    @media (min-width: $screen-sm-min) {
      padding: 15px ((135% / 768) * 100);
    }

    @media (min-width: $screen-lg-min) {
      padding: 15px ((135% / 1200) * 100);
    }
  }

  &__title {
    text-align: center;
    font-family: $font-family-base;
    font-size: $font-size-large;
    line-height: ($line-height-base + 2);
    font-weight: $font-bold;
    text-transform: uppercase;
    color: #000;
    padding: $padding-default;
    padding-bottom: 35px;

    @media (min-width: $screen-sm-min) {
      font-size: $font-size-larger;
      position: relative;
      width: 100%;
      box-sizing: border-box;

      &:before {
        content: '';
        width: 17.5%;
        height: 1px;
        background-color: $gray-db;
        position: absolute;
        left: 0;
        top: 40%;
      }

      &:after {
        content: '';
        width: 17.5%;
        height: 1px;
        background-color: $gray-db;
        position: absolute;
        right: 0;
        top: 40%;
      }
    }
  }

  &__label {
    @include base_text;
    display: block;
    text-align: left;
    padding-left: 20px;
    padding-bottom: 10px;
    cursor: pointer;

    @media (min-width: $screen-sm-min) {
      margin: 0;
    }

    &--margin-right {
      @media (min-width: $screen-lg-min) {
        margin-right: 10%;
      }
    }

    &--radio {
      display: inline-block;

      @media (min-width: $screen-sm-min) {
        padding-left: 0;
        font-weight: $font-bold;
        font-size: $font-size-large;
        color: #000;
        text-transform: none;
      }

      &:before {
        content: '';
        width: 20px;
        height: 20px;
        background-color: $gray-lighten;
        border: 15px solid $gray-lighten;
        border-radius: 40px;
        display: inline-block;
        margin-right: 20px;
        vertical-align: middle;
      }
    }

    &--checkbox {
      display: inline-block;
      color: #000;
      font-weight: $font-bold;
      text-transform: none;
      font-size: $font-size-large;

      &:before {
        content: '';
        background-color: $gray-lighten;
        border-radius: 5px;
        display: inline-block;
        margin-right: 20px;
        vertical-align: middle;
        width: 56px;
        height: 56px;
      }

      @media (min-width: $screen-lg-min) {
        padding-left: 0;
      }
    }

    &--without-padding {
      @media (min-width: $screen-sm-min) {
        padding-left: 0;
      }
    }
  }

  &__input {
    @include base_input;
    margin-bottom: 20px;

    @media (min-width: $screen-sm-min) {
      padding-right: 0;
    }

    &--radio {
      display: none;

      &:checked + .form-review__label::before {
        background-color: $gray-base;
      }
    }

    &--checkbox {
      display: none;

      &:checked + .form-review__label::before {
        background: url('../img/check.png') no-repeat;
        background-color: $gray-lighten;
        background-position: center;
      }
    }

    &--number {
      text-align: center;

      @media (min-width: $screen-sm-min) {
        padding-left: 0;
      }
    }

    &--file {
      @media (min-width: $screen-lg-min) {
        background-color: $blue-base;
        color: #fff;
      }
    }
  }

  &__checkbox {
    @media (min-width: $screen-sm-min) {
      width: 35%;

      &:nth-of-type(1) {
        margin-bottom: 35px;
      }
    }

    @media (min-width: $screen-sm-min) {
      width: auto;
    }
  }

  &__photo {
    position: relative;
    float: left;
    width: 25%;
    margin: 0;
    margin-right: 12.5%;
    margin-bottom: 35px;

    &:nth-of-type(3n) {
      margin-right: 0;
    }

    & > img {
        display: block;
        width: 100%;
    }

    @media (min-width: $screen-lg-min) {
      width: ((140% / 1015.620) * 100);
      margin-right: 7.77%;

      &:nth-of-type(3n) {
        margin-right: 7.77%;
      }

      &:nth-of-type(5n) {
        margin-right: 0;
      }
    }
  }

  &__delete-link {
    position: absolute;
    top: -17px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0;
    width: 30px;
    height: 30px;
    background: url('../img/delete_photo.png') no-repeat;

    @media (min-width: $screen-sm-min) {
      left: 100%;
    }
  }

  &__photo-name {
    display: none;

    @media (min-width: $screen-sm-min) {
      display: block;
      font-size: $font-size-base;
      color: #000;
      line-height: ($line-height-base + 2);
      text-transform: uppercase;
      margin-bottom: 0;
    }
  }
}

.counter {
  font-size: 0;
  text-align: center;

  &__button {
    width: 60px;
    color: rgba(51, 51, 51, 0.3);
    border: none;
    background-color: $gray-lighten;
    height: 66px;
    font-size: $font-size-larger;
    float: left;
    vertical-align: middle;
    padding-top: 5px;

    &:last-child {
      float: right;
      margin-right: 0;

      @media (min-width: $screen-sm-min) {
        display: block;
        float: left;
      }
    }

    @media (min-width: $screen-sm-min) {
      margin-right: 0;
      display: block;
      float: left;
      width: 25%
    }

    @media (min-width: $screen-lg-min) {
      margin-right: 3%;
    }
  }

  &__input {
    @include base_input;
    width: 55%;
    display: inline-block;
    margin-bottom: 20px;

    @media (min-width: $screen-sm-min) {
      width: 50%;
      padding-right: 0;
      padding-left: 20px;
      float: left;
      box-sizing: border-box;
    }

    @media (min-width: $screen-lg-min) {
      width: 44%;
      margin-right: 3%;
    }
  }
}

.number-column {
  float: left;
  width: 25%;
  box-sizing: border-box;

  @media (min-width: $screen-sm-min) {
    width: ((61% / 650) * 100);
  }
}

.info-column {
  float: right;
  width: 75%;
  padding-left: 10px;
  box-sizing: border-box;

  @media (min-width: $screen-sm-min) {
    display: flex;
    justify-content: space-between;
    width: ((583% / 650) * 100);
  }
}

.person-block {
  @media (min-width: $screen-sm-min) {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
