.main-header {
  position: relative;
}

.main-nav {
  position: relative;
  font-size: 0;

  &::after {
    @media (min-width: $screen-sm-min) {
      display: none;
    }
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 12px;
    box-shadow: inset 0 -5px 10px 0 $gray-dark;
    opacity: 0.2;
  }

  &__link {
    display: inline-block;
    text-align: center;
    font-size: $font-size-large;
    line-height: $line-height-larger;
    width: 100%;
    background-color: $blue-base;
    color: $link-base;
    text-decoration: none;
    text-transform: uppercase;
    font-family: $font-family-base;
    font-weight: $font-bold;
    padding: 15px 0 15px 0;
    box-shadow: 0 -1px 0 0px $blue-light, 0 -2px 0 0px $blue-dark;

    @media (min-width: $screen-sm-min) {
      width: 20%;
      background-color: #fff;
      color: #000;
      box-shadow: none;
      font-size: $font-size-base;
      padding: 8px 0 8px 0;
    }

    &:nth-of-type(2) {
      @media (min-width: $screen-sm-min) {
        margin-right: 20%;
      }
    }
  }


  &__close {
    position: absolute;
    top: 17px;
    right: 17px;
    width: 25px;
    height: 25px;
    font-size: 0;
    border: none;
    background-color: transparent;
    @media (min-width: $screen-sm-min) {
      display: none;
    }

    &:before {
      content: '';
      width: 100%;
      height: 3px;
      display: block;
      background-color: #fff;
      position: absolute;
      transform: rotate(-45deg);
      left: -0.3px;
    }

    &:after {
      content: '';
      width: 100%;
      height: 3px;
      display: block;
      background-color: #fff;
      position: absolute;
      transform: rotate(45deg);
      left: 0.3px;
    }

    &:hover, &:focus {
      outline: none;
    }
  }
}

.top-row {
  position: relative;
  padding-right: 20px;
  padding-top: 28px;
  padding-bottom: 28px;
  @media (min-width: $screen-sm-min) {
    position: absolute;
    padding: 0;
    top: 0;
    left: 50%;
  }

  &__logo {
    position: absolute;
    top: 0;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
}

.menu-toggle {
  float: right;
  font-size: 0;
  border: none;
  height: 1px;
  width: 23px;
  background-color: $blue-base;
  position: relative;
  @media (min-width: $screen-sm-min) {
    display: none;
  }

  &:before, &:after {
    content: '';
    position: absolute;
    display: block;
    height: 5px;
    width: 23px;
    background-color: $blue-base;
    left: 0;
  }

  &:before {
    top: -9px;
  }

  &:after {
    bottom: -9px;
  }
}

.main-promo {
  padding-top: 35px;
  padding-bottom: 35px;
  text-align: center;
  background: url('../img/photo-background@1x.jpg') no-repeat;
  background-size: 100% 390px;
  position: relative;
  @media (min-width: $screen-sm-min) {
    background-size: 100% 510px;
    padding-top: 70px;
    padding-bottom: 80px;
  }

  &--short {
    background-position: 0px -120px;
    padding-bottom: 75px;
    padding-top: 40px;

    @media (min-width: $screen-sm-min) {
      min-height: 295px;
      box-sizing: border-box;
    }
  }

  &:after {
    content: '';
    min-height: 37px;
    display: block;
    width: 100%;
    background: url('../img/mask-mobile.png') no-repeat;
    background-size: 100% 37px;
    margin-top: 71px;
    bottom: -1px;
    position: absolute;

    @media (min-width: $screen-sm-min) {
      background: url('../img/mask.png') no-repeat;
      background-size: 100% 57px;
      min-height: 57px;
    }
  }

  &__image {
    margin: $margin-center;
  }
}
