.map {
  margin-bottom: 40px;
}

.map-canvas {
  min-height: 350px;
  background: url('../img/map.jpg') no-repeat;
  background-size: cover;
  position: relative;
  background-position: -400px 0;

  @media (min-width: $screen-sm-min) {
    background-position: 0 0;
  }

  &__point {
    position: absolute;
    top: 50%;
    left: 50%;
  }
}
