.reasons {
  &__header {
    @media (min-width: $screen-lg-min) {
      padding-top: 20px;
      padding-bottom: 35px;
    }
  }

  &__title {
    @include base_title;
    padding: $padding-default;
    padding-bottom: 35px;

    @media (min-width: $screen-sm-min) {
      padding-left: 22%;
      padding-right: 22%;
    }
  }

  &__text {
    @include base_text;
    padding: $padding-default;
    padding-top: 0;
  }

  &__row {
    &--bg-gray {
      background-color: $gray-lighter;

      @media (min-width: $screen-sm-min) {
        padding-top: 40px;
        padding-bottom: 40px;
      }

      @media (min-width: $screen-lg-min) {
        padding-bottom: 60px;
      }

      & .reason__text {
        box-sizing: border-box;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding-bottom: 30px;

        @media (min-width: $screen-sm-min) {
          border: none;
          padding-bottom: 0;
        }
      }

      & .reason:last-child {
        & .reason__text {
          border-bottom: none;
        }
      }
    }

    &--invert {
      @media (min-width: $screen-sm-min) {
        & > .reason {
          float: right;
        }

        & > .reason-picture {
          float: left;
        }
      }
    }
  }
}

.reason {
  @media (min-width: $screen-sm-min) {
    width: (100% / 3);
    float: left;
  }

  &--bg-blue {
    background-color: $blue-base;
    min-height: 256px;

    @media (min-width: $screen-lg-min) {
      padding-left: ((65% / 1200) * 100);
      padding-right: ((65% / 1200) * 100);
      box-sizing: border-box;
    }
  }

  &--mask {
    position: relative;
    padding-top: 40px;

    @media (min-width: $screen-sm-min) {
      padding-top: 0;
    }

    &:before {
      content: '';
      min-height: 37px;
      display: block;
      width: 100%;
      background: url('../img/reason-mask.png') no-repeat;
      background-size: 100% 37px;
      position: absolute;
      top: -1px;

      @media (min-width: $screen-sm-min) {
        display: none;
      }
    }
  }

  &--image {
    padding-left: 50px;
    position: relative;

    @media (min-width: $screen-sm-min) {
      padding-left: 0;
      padding-top: 155px;
    }

    @media (min-width: $screen-lg-min) {
      padding-bottom: 85px;
    }

    & .reason__title, .reason__number, .reason__text {
      text-align: left;
      margin: 0;
      padding-left: 20px;

      @media (min-width: $screen-sm-min) {
        text-align: center;
        padding-left: 21%;
        padding-right: 21%;
      }

      @media (min-width: $screen-sm-min) {
        padding-left: ((70% / 1200) * 100);
        padding-right: ((70% / 1200) * 100);
      }
    }
  }

  &--icon-home, &--icon-burger, &--icon-gift {
    &:before {
      content: '';
      width: 37px;
      height: 37px;
      position: absolute;
      left: 20px;
      top: 30px;

      @media (min-width: $screen-sm-min) {
        top: 60px;
        left: 50%;
        transform: translateX(-50%);
        width: 75px;
        height: 75px;
      }
    }
  }

  &--icon-home {
    &:before {
      background: url('../img/home.png') no-repeat;
      background-size: cover;
      width: 37px;
      height: 37px;

      @media (min-width: $screen-sm-min) {
        width: 75px;
        height: 75px;
      }
    }
  }

  &--icon-burger {
    &:before {
      background: url('../img/hamburger.png') no-repeat;
      background-size: cover;
      width: 39px;
      height: 37px;

      @media (min-width: $screen-sm-min) {
        width: 78px;
        height: 75px;
      }
    }
  }

  &--icon-gift {
    &:before {
      background: url('../img/gift.png') no-repeat;
      background-size: cover;
      width: 37px;
      height: 43px;

      @media (min-width: $screen-sm-min) {
        width: 62px;
        height: 75px;
      }
    }
  }

  &__title {
    @include base_title;
    padding: $padding-default;
    padding-bottom: 15px;

    &--white {
      padding-top: 35px;

      @media (min-width: $screen-sm-min) {
        padding-top: 42px;
      }

      @media (min-width: $screen-sm-min) {
        padding-top: 55px;
      }
    }
  }

  &__number {
    color: $text-base;
    text-align: center;
    margin: $margin-center;
    padding-bottom: 15px;

    &:before, &:after {
      content: '—';
    }

    &:before {
      margin-right: 5px;
    }

    &:after {
      margin-left: 5px;
    }
  }

  &__text {
    @include base_text;
    padding-top: 0;
    padding-left: 40px;
    padding-right: 40px;
  }

  &:last-child {
    .reason__text {
      padding-bottom: 35px;
    }
  }

  &__title, &__number, &__text {
    &--white {
      color: #fff;
      margin: $margin-center;

      @media (min-width: $screen-sm-min) {
        padding-left: 18%;
        padding-right: 18%;
      }

      @media (min-width: $screen-lg-min) {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  &__text {
    &--white {
      padding-bottom: 35px;
    }
  }
}

.reason-picture {
  margin: 0;
  min-height: 256px;
  overflow: hidden;

  @media (min-width: $screen-sm-min) {
    width: (100% / 3) * 2;
    float: right;
  }

  &__image {
    width: 800px;
    height: 256px;
    display: block;
  }
}
